version: '3.5'

networks:
  payment-gateway:
    name: payment-gateway

services:
  main-api:
    image: ajs/main-api
    container_name: ajs_main_api
    build:
      context: src/
      dockerfile: Dockerfile
    restart: always
    ports: 
      - "8080:80"
    networks:
      - payment-gateway

  prometheus:
    image: ajs/prometheus
    container_name: ajs_prometheus
    build:
      context: .
      dockerfile: docker/prometheus/Dockerfile
    ports:
      - "9090:9090"
    networks:
      - payment-gateway
        
  grafana:
    image: ajs/grafana
    container_name: ajs_grafana
    build:
      context: .
      dockerfile: docker/grafana/Dockerfile
    ports:
      - "3000:3000"
    networks:
      - payment-gateway
        
  eventstore:
    image: eventstore/eventstore
    container_name: ajs_event_store
    environment:
      - EVENTSTORE_CLUSTER_SIZE=1
      - EVENTSTORE_INT_TCP_PORT=1112
      - EVENTSTORE_EXT_TCP_PORT=1113
      - EVENTSTORE_INT_HTTP_PORT=2112
      - EVENTSTORE_EXT_HTTP_PORT=2113
    ports:
      - "1112:1112"
      - "1113:1113"
      - "2112:2112"
      - "2113:2113"
    networks:
      - payment-gateway 
        
