version: '3.5'

networks:
  payment-gateway:
    name: payment-gateway

services:
  main-api:
    image: ajs/main-api
    container_name: ajs_main_api
    build: src/
    restart: always
    ports: 
      - "8080:80"
    networks:
      - payment-gateway

  prometheus:
    image: ajs/prometheus
    container_name: ajs_prometheus
    ports:
      - "9090:9090"
    networks:
      - payment-gateway
        
  grafana:
    image: ajs/grafana
    container_name: ajs_grafana
    ports:
      - "3000:3000"
    networks:
      - payment-gateway
        
