version: '3.5'

networks:
  payment-gateway:
    name: payment-gateway

services:
  main-api:
    build: src/
    restart: always
    ports: 
      - "5001:44305"
    networks:
      - payment-gateway
