version: '3.5'

networks:
  payment-gateway:
    name: payment-gateway

services:
  prometheus:
    build:
      context: .
      dockerfile: docker/prometheus/Dockerfile
        
  grafana:
    build:
      context: .
      dockerfile: docker/grafana/Dockerfile

        
