version: '3.5'

networks:
  payment-gateway:
    name: payment-gateway

services:
  main-api:
    image: ajs/main-api
    build: src/
    restart: always
    ports: 
      - "8080:80"
    networks:
      - payment-gateway

  prometheus:
    image: ajs/prometheus
    build:
      context: .
      dockerfile: docker/prometheus/Dockerfile.windows
    ports:
      - "9090:9090"
    networks:
      - payment-gateway
        
